/* Common Style */
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}




/* Header style started */


.honda-bg {
    background-color: #264653;
}

.honda-btn {
    background-color: #E76F51;
    margin: 0 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none;
}

/* Header style End */
/* Hero style started */
.container {}

.honda-modal-btn {
    background-color: #E76F51;

}

/* Hero style End */
/* Featured Bike Style Start */
.Fetured-bike-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.featured-bike-h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.featured-bike-p {
    color: #E76F51;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

#feature-img {
    margin-left: 80px;
}

.feature-bike-img {
    filter: grayscale(100%);
}

.ps-4 {
    padding-left: 4.5rem !important;
}

/* Featured Bike Style End */
/* Latest News Style Start */
.latest-news {
    margin-top: 80px;
    margin-bottom: 80px;

}

.latest-h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.honda-card-btn {
    background-color: #E76F51;
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}

.honda-card-btn:hover {
    color: white;
    background-color: #ec4d26;
}
/* Client Says Section Style */
.client-h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.client-say {
    color: #E76F51;
}

.user-img {
    width: 40%;
    padding-left: 19px;
    margin-left: 110px;
    margin-top: 15px;
}
.client-p{
    text-align: center;
}
.fa-star{

    font-size: 12px;
    text-align: center;
}
.fa-star.filled{
    color: #FFC814;
}
.fa-star.empty{
    color: #AEAEAE;
}
.star {
    margin-left: 140px;
}
.client-name-h6{
    color: #5ABCF4;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.client-name-p{
    text-align: center;
    font-size: 12px;
    font-weight: 00;
}
/* register section style */

.reg-h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.reg-p{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: white;

}
.reg-btn {
    
    margin-left: 235px;
}
.reg{
    background-color: #5D59CA;
    padding: 60px;
    margin: 50px;
    border-radius: 50px;
}
#reg-img{
    width: 600px;
    height: 300px;
}
.footer{
    background-color: black;
    margin: 0;
    padding: 40px;
}
.footer-menu a {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    line-height: 50px;
}
.footer-menu a:hover{
     color: burlywood;
}
.footer-p{
    color: cornsilk;
    margin-left: 6px;
}
.fa-google-play{
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
}
.fa-apple{
    color: white;
    margin: 5px;
    padding: 10px 33px 10px 9px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
}
.footer-p-2{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 600;
}









/* Media Query */
@media screen and (max-width: 688px) {
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .honda-btn {
        display: none;

    }

    .hero-img {
        width: 300px;
        height: 300px;
    }
    .faq-img{
        width: 300px;
        height: 300px;
    }
    .responsive-img{
        width: 230px;
        height: 230px;
    }
    .reg-btn {
    
        margin-left: 60px;
    }
    #reg-img {
        width: 200px;
        height: 150px;
    }
}